body {
  font-family: sans-serif; "Helvetica";
  text-align: center;
  color; white;
}

.flatiron {
  background-image: url("resources/the-flatiron-building.png");
  color: white;
  background-size: cover;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

h2 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

ul {
  list-style: none;
}

li {
  line-height: 2.0;
  font-family: Helvetica;
  font-size: 18px;
}

.footer {
  background-color:dimgray;
  text-align:left;
  color: white;
  white-space: nowrap;
  overflow-x: auto;
}

.footer p {
    font-size: 11px;
    display: inline-block;
}

.footer ul{
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: inline-block;
}

.footer li {
  float: left;
  display: inline-block;
}
